.container .ant-form {
    margin: 10px 0;
}

.container .ant-form .ant-form-item {
    width: 100%;
}

.container .ant-form .ant-form-item-control-wrapper {
    display: block;
}

.my-custom-scrollbar {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: auto;
}

.my-custom-scrollbar .ant-input-search {
    width: 200px;
    margin: 15px 0;
}

.my-custom-scrollbar .ant-col {
    padding: 5px 10px;
    border: 1px solid #d9d9d9;
}

.my-custom-scrollbar .my-row-header {
    font-weight: bold;
}

.table-wrapper-scroll-y {
    display: block;
}

.active-pink-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}

.my-alert-error {
    color: red;
    border-color: none;
    background-color: none;
}

.my-col-10 {
    width: 5%;
}

.my-col-10 {
    width: 10%;
}

.my-col-15 {
    width: 15%;
}

.my-col-20 {
    width: 20%;
}

.my-col-25 {
    width: 25%;
}

.my-col-30 {
    width: 30%;
}
