.my-custom-scrollbar {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.active-pink-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}

.my-alert-error {
    color: red;
    border-color: none;
    background-color: none;
}

.my-col-10 {
    width: 5%;
}

.my-col-10 {
    width: 10%;
}

.my-col-15 {
    width: 15%;
}

.my-col-20 {
    width: 20%;
}

.my-col-25 {
    width: 25%;
}

.my-col-30 {
    width: 30%;
}